#header-title {
  color: rgba(225,225,225, .01);
  /* background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1599345697595-2d1398084369?q=80&w=1500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 20s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  /* background card */
  --color-1: #052b2f;
  /* background body */
  --color-2: #000;
  /* neon borders */
  --color-3: #0062FF;
  --color-4: #CC00FF;
  --color-5: #FF0099;
  --card-height: 65vh;
  
  --rounded-gradient: 0.2rem;
}

#content-wrapper {
  position: relative;
  border-bottom-left-radius: var(--rounded-gradient);
  border-bottom-right-radius: var(--rounded-gradient);
}

#content-wrapper::before,
#content-wrapper::after {
  content: "";
  position: absolute;
  inset: calc(-1 * var(--rounded-gradient));
  z-index: -10;
  opacity: 1;
  transition: opacity 1s;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-3),
    var(--color-4),
    var(--color-5),
    var(--color-4),
    var(--color-3)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

#content-wrapper::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
